In [18]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import roc_auc_score
import seaborn as sns
import xgboost as xgb
import matplotlib.pyplot as plt
from lightgbm import LGBMRegressor, LGBMClassifier
from sklearn.preprocessing import StandardScaler

In [19]:
trainDF = pd.read_csv("train/data/Train.csv")
testDF = pd.read_csv("train/data/Test.csv")

In [20]:
trainDF.date = pd.to_datetime(trainDF.date)
years = pd.DatetimeIndex(trainDF.date).year
months = pd.DatetimeIndex(trainDF.date).month
trainDF['year'] = years
trainDF['month'] = months
trainDF = trainDF.drop(['date'], axis=1)
testDF['year'] = pd.DatetimeIndex(testDF.date).year
testDF['months'] = pd.DatetimeIndex(testDF.date).month
testDF = testDF.drop(['date'], axis=1)

In [21]:
trainDF = trainDF.drop(['g_lift'], axis=1)
trainDF = trainDF.drop(['kw9'], axis=1)
trainDF = trainDF.drop(['kw8'], axis=1)
trainDF = trainDF.fillna(trainDF.mean())
testDF = testDF.drop(['g_lift'], axis=1)
testDF = testDF.drop(['kw9'], axis=1)
testDF = testDF.drop(['kw8'], axis=1)
testDF = testDF.fillna(testDF.mean())
len(trainDF)

100000

In [22]:
selected_columns = ['build_tech', 'floor', 'area', 'rooms', 'balcon', 'metro_dist', 'price']
selected_columns_test = ['build_tech', 'floor', 'area', 'rooms', 'balcon', 'metro_dist']

In [23]:
trainDF = trainDF[selected_columns]
testDF = testDF[selected_columns_test]

In [24]:
trainDF

       build_tech  floor  area  rooms  balcon  metro_dist     price
0        0.529837      2    59      3       0        30.0   4510000
1        0.529837     10    50      2       1        25.0  13231000
2        0.000000      1    48      2       0        25.0   2008000
3        1.000000      3    62      3       1        30.0  12680000
4        0.000000      3    60      3       0        25.0   3335000
...           ...    ...   ...    ...     ...         ...       ...
99995    0.000000      5    30      1       0        30.0   1697000
99996    0.000000      4    34      1       0        30.0   3620000
99997    0.529837      3    52      2       0         5.0   6712000
99998    1.000000      3   181      5       1         5.0  20835000
99999    0.000000      7    57      2       0         5.0   2909000

[100000 rows x 7 columns]

In [25]:
YTrain = np.array(trainDF.price)
XTrain = np.array(trainDF.drop(['price'], axis=1))
#XTest = np.array(testDF)
Xtrain, Xtest, Ytrain, Ytest = train_test_split(XTrain, YTrain, test_size=0.33, random_state=10)
X_train = np.array(Xtrain)
X_test = np.array(Xtest)
y_train = np.array(Ytrain)
y_test = np.array(Ytest)

In [27]:
xgbR = xgb.XGBRegressor(n_estimators=500)
xgbR.fit(X_train, y_train)
mean_absolute_error(xgbR.predict(X_train), y_train)

1628199.142244403

In [ ]:
import pickle as pkl

In [ ]:
with open('xgb_model.pkl', 'wb') as xgb_file:
    pkl.dump(xgbR, xgb_file)

In [17]:
with open('xgb_model.pkl', 'wb') as xgb_file:
    model = pkl.load(xgb_file)

NameError: name 'pkl' is not defined

In [ ]:
X_train

array([[ 0.        ,  3.        , 51.        ,  2.        ,  0.        ,
        30.        ],
       [ 0.        ,  1.        , 50.        ,  2.        ,  0.        ,
        15.        ],
       [ 1.        , 11.        , 52.        ,  2.        ,  1.        ,
        20.        ],
       ...,
       [ 0.        ,  4.        , 61.        ,  3.        ,  0.        ,
        15.        ],
       [ 0.        ,  6.        , 34.        ,  1.        ,  0.        ,
        15.        ],
       [ 0.52983705,  4.        , 44.        ,  1.        ,  0.        ,
        30.        ]])

In [ ]:
model.sa

In [ ]:
from xgboost import Booster

In [33]:
xgbR.save_model('models/xgb_model.json')

In [35]:
model2 = xgb.XGBRegressor()
model2.load_model("models/xgb_model.json")

In [37]:
mean_absolute_error(model2.predict(X_train), y_train)

1628199.142244403